.createCardForm {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  grid-area: content;
}

.createCardForm__input {
  margin: 5px 0 5px 0;
  padding: 0;
  width: 450px;
  height: 50px;
  text-align: center;
  font-size: 22px;
  border-radius: 20px;
}

.city__chouse {
  margin: 0;
  padding: 0;
  max-width: 450px;
  height: 50px;
  font-size: 16px;
  border-radius: 20px;
}