.review {
  margin: 0;
  padding: 15px;
  grid-area: content;
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: rgba(35, 190, 56, 0.7);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 15;
}
