.list__card {
  margin: 5px;
  padding: 5px;
  grid-area: content;
  display: grid;
  max-height: 100vh;
  grid-auto-rows: 40%;
  grid-template-columns: repeat(4, 25%);
  overflow-y: scroll;
  box-sizing: border-box;
  row-gap: 50px;
  column-gap: 4px;
}