@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

.auth {
  margin: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  background: rgb(235, 233, 233);
  grid-template-rows: 10% repeat(4, 22.5%);
  grid-template-columns: repeat(5, 20%);
  grid-template-areas:
    'navigation navigation navigation navigation navigation'
    'content content content content content'
    'content content content content content'
    'content content content content content'
    'content content content content content';
}

.auth_false {
  margin: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-rows: 10% repeat(2, 30%);
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    'navigation navigation navigation navigation'
    'content content content content'
    'content content content content'
    'content content content content';
}

.auth_false__main_title {
  margin: 15px 0 0 0;
  padding: 10px;
  grid-area: main_title;
  font-family: Poppins-Regular;
  font-size: 28px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 5s steps(50, end);
  animation: type 6s ease-in-out 12s;
  width: 100%;
  display: block;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
