.navigation {
  grid-area: navigation;
  margin: 0;
  padding: 10px;
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: space-between;
  background-color: #d9efc7;
}

.navigation_links {
  margin: 0 40px 0 0;
  flex: 5 1 auto;
  display: flex;
  overflow: hidden;
  align-content: center;
  justify-content: space-between;
}
.navigation_link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 15px 0 0 0;
  padding: 10px;
  line-height: 1.9em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  background: none;

}

.navigation_link_active {
  border-bottom: 4px solid #fff;
}

.navigation_action {
  margin: 0;
  padding: 0;
  flex: 2 1 auto;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

.navigation__logo {
  margin: 0;
  padding: 0;
  width: 142px;
  height: 100%;
  object-fit: contain;
}
.navigation_action_btn {
  margin: 0;
  padding: 0;
  width: 195px;
  height: 37px;

  background: #ffffff;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
