.navigation {
  grid-area: navigation;
  margin: 0;
  padding: 0;
  display: grid;
  overflow: hidden;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 16.6%);
  grid-template-columns: 100%;
  background-color: #cdd9bd;
  align-content: center;
  justify-content: center;
}

.navigation_link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 15px 0 0 0;
  padding: 10px;
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 1.9em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.navigation_link_active {
  margin: 0;
  background-color: #fff;
}

